<div class="container-fluid">
    <div class="row py-3" style="background-color: #22607b">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <p class="special text-light m-0">Get Connected with us on Social Networks</p>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
            <div class="text-center">
                <a style="height: 30px; width: 30px; border-radius: 50%; border: 1px solid #DDD; text-decoration: none; text-align: center; color: white; line-height: 30px; cursor: pointer; display: inline-block"><i class="fab fa-facebook-f"></i></a>
                <a style="height: 30px; width: 30px; border-radius: 50%; border: 1px solid #DDD; text-decoration: none; text-align: center; color: white; line-height: 30px; cursor: pointer; display: inline-block; margin-left: 15px"><i class="fab fa-twitter"></i></a>
                <a style="height: 30px; width: 30px; border-radius: 50%; border: 1px solid #DDD; text-decoration: none; text-align: center; color: white; line-height: 30px; cursor: pointer; display: inline-block; margin-left: 15px"><i class="fab fa-facebook-messenger"></i></a>
                <a style="height: 30px; width: 30px; border-radius: 50%; border: 1px solid #DDD; text-decoration: none; text-align: center; color: white; line-height: 30px; cursor: pointer; display: inline-block; margin-left: 15px"><i class="fab fa-linkedin-in"></i></a>
                <a style="height: 30px; width: 30px; border-radius: 50%; border: 1px solid #DDD; text-decoration: none; text-align: center; color: white; line-height: 30px; cursor: pointer; display: inline-block; margin-left: 15px"><i class="far fa-envelope"></i></a>
                
            </div>
        </div>
    </div>
    <div class="row py-4" style="background-color: #1C2331">
     <div class="col-12">
         <div class="f-about text-center text-light">
             <h3>ABOUT US</h3>
             <p class="special m-0 p-0" style="line-height: 1.8">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et architecto porro facere aliquid necessitatibus consequatur quos laudantium illum, deleniti magni, vel cum fugit quas vitae explicabo minima corporis? Minima, eaque! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic deserunt eum voluptas ullam dolorum corporis voluptatibus numquam quaerat ad commodi, dolor consequuntur animi aperiam. Sapiente et numquam soluta reprehenderit deleniti.</p>
         </div>
     </div>
 </div>
 <div class="row py-3" style="background-color:#161C27">
     <div class="col-12">
         <div class="f-content text-center text-light">
             <span>All Copyrights &copy; reserved to Online Course Booking</span>
         </div>
     </div>
 </div>
</div>