<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="../assets/images/logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <title>Privacy Page</title>
</head>
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    p:not(.special) {
        background-color: #F7F7F7;
        padding: 5px;
        border-top: 1px solid #DDD;
        border-right: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
    }
</style>

<body>
    <%- include('./partials/navbar.ejs') -%>
    <div class="container-fluid py-5 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center text-primary">Privacy</h3>
                    <p class="text-center text-dark" style="border-left: 3px solid #007bff; padding-left: 10px">This
                        Privacy Policy describes Our policies and procedures on the collection, use and disclosure of
                        Your information when You use the Service and tells You about Your privacy rights and how the
                        law protects You.

                        We use Your Personal data to provide and improve the Service. By using the Service, You agree to
                        the collection and use of information in accordance with this Privacy Policy.</p>
                </div>
                <div class="col-12">
                    <h4 class="text-primary">Personal Data</h4>
                    <p style="border-left: 3px solid #007bff; padding-left: 10px">
                        While using Our Service, We may ask You to provide Us with certain personally identifiable
                        information that can be used to contact or identify You. Personally identifiable information may
                        include, but is not limited to:

                        Email address
                        First name and last name
                        Phone number
                        Address, State, Province, ZIP/Postal code, City
                        Usage Data</p>
                </div>
                <div class="col-12">
                    <h4 class="text-primary">Usage Data</h4>
                    <p style="border-left: 3px solid #007bff; padding-left: 10px">
                        Usage Data is collected automatically when using the Service.

                        Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP
                        address), browser type, browser version, the pages of our Service that You visit, the time and
                        date of Your visit, the time spent on those pages, unique device identifiers and other
                        diagnostic data.

                        When You access the Service by or through a mobile device, We may collect certain information
                        automatically, including, but not limited to, the type of mobile device You use, Your mobile
                        device unique ID, the IP address of Your mobile device, Your mobile operating system, the type
                        of mobile Internet browser You use, unique device identifiers and other diagnostic data.

                        We may also collect information that Your browser sends whenever You visit our Service or when
                        You access the Service by or through a mobile device.

                    </p>
                </div>
                <div class="col-12">
                    <h4 class="text-primary">Retention of Your Personal Data

                    </h4>
                    <p style="border-left: 3px solid #007bff; padding-left: 10px">
                        The Company will retain Your Personal Data only for as long as is necessary for the purposes set
                        out in this Privacy Policy. We will retain and use Your Personal Data to the extent necessary to
                        comply with our legal obligations (for example, if we are requi#007bff to retain your data to
                        comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.

                        The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally
                        retained for a shorter period of time, except when this data is used to strengthen the security
                        or to improve the functionality of Our Service, or We are legally obligated to retain this data
                        for longer time periods.</p>
                </div>
                <div class="col-12">
                    <h4 class="text-primary">Children's Privacy</h4>
                    <p style="border-left: 3px solid #007bff; padding-left: 10px">
                        Our Service does not address anyone under the age of 13. We do not knowingly collect personally
                        identifiable information from anyone under the age of 13. If You are a parent or guardian and
                        You are aware that Your child has provided Us with Personal Data, please contact Us. If We
                        become aware that We have collected Personal Data from anyone under the age of 13 without
                        verification of parental consent, We take steps to remove that information from Our servers.

                        We also may limit how We collect, use, and store some of the information of Users between 13 and
                        18 years old. In some cases, this means We will be unable to provide certain functionality of
                        the Service to these users.

                        If We need to rely on consent as a legal basis for processing Your information and Your country
                        requires consent from a parent, We may require Your parent's consent before We collect and use
                        that information.</p>
                </div>
                <div class="col-12">
                    <h4 class="text-primary">Links to Other Websites</h4>
                    <p style="border-left: 3px solid #007bff; padding-left: 10px">
                        Our Service may contain links to other websites that are not operated by Us. If You click on a
                        third party link, You will be directed to that third party's site. We strongly advise You to
                        review the Privacy Policy of every site You visit.

                        We have no control over and assume no responsibility for the content, privacy policies or
                        practices of any third party sites or services.
                    </p>
                </div>
                <div class="col-12">
                    <h4 class="text-primary">Changes to this Privacy Policy</h4>
                    <p style="border-left: 3px solid #007bff; padding-left: 10px">
                        We may update our Privacy Policy from time to time. We will notify You of any changes by posting
                        the new Privacy Policy on this page.

                        We will let You know via email and/or a prominent notice on Our Service, prior to the change
                        becoming effective and update the "Last updated" date at the top of this Privacy Policy.

                        You are advised to review this Privacy Policy periodically for any changes. Changes to this
                        Privacy Policy are effective when they are posted on this page.</p>
                </div>
                <div class="col-12">
                    <h4 class="text-primary">Contact Us</h4>
                    <p style="border-left: 3px solid #007bff; padding-left: 10px">
                        If you have any questions about this Privacy Policy, You can contact us:

                        By email: Alaaoboor@gmail.com
                        By phone number: 01282378951

                        MOBILE APPLICATION LICENSE</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') -%>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>

</html>